.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(35, 37, 39);
  width: 170px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  list-style: none;
  text-decoration: none;
}


img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 20px;
  border-radius: 100%;
  cursor: pointer;
}



#user {
  position: absolute;
  left: 10px;
  top: 200px;
  color: orange;
  font-size: 20px;
  text-decoration: none;
  border-radius: 20%;

}

#doctor {
  position: absolute;
  left: 10px;
  top: 260px;
  color: orange;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

#trainer {
  position: absolute;
  left: 10px;
  top: 320px;
  color: orange;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

#equipment {
  position: absolute;
  left: 10px;
  top: 380px;
  color: orange;

  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

#membership {
  position: absolute;
  left: 10px;
  top: 450px;
  color: orange;
  list-style: none;

  font-size: 20px;
  text-decoration: none;
}

ul {
  list-style: none;


}

ul.show {
  display: flex;
}

#admin {

  width: 100px;
  background-size: 100%;

  height: 100px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 120px;
  font-size: 25px;
  text-decoration: none;
  color: orange;

}

#head {
  position: absolute;
  color: orange;
  left: 170px;
  top: 10px;
  font-size: 35px;
  z-index: 8;
}
.container-fluid{
background-image: url(../../../assets/exercise1.jpg);
  width: 100vw;
background-size: cover;
 height:100vh;
}