

<div id="con">
  <div class="container mt-2">
    <div class="row p-4 text-end ">
      <div class=" d-flex justify-content-end ">
        <h1>Track Your Attendance</h1>
       
      
      </div>
    <table class="table table-bordered  mt-4">
      <thead class="table-dark" >
        <tr>
          <th>User name</th>
          <th>Date</th>
        
          <th>Status</th>
         
          
         
        </tr>
      </thead>
      <tbody class="tbody" >
        <tr *ngFor="let attendance of attendanceList">
          <td>{{ attendance.name }}</td>
          <td>{{ attendance.date }}</td>

          <td>{{ attendance.status }}</td>
        
        </tr>
       
     
      </tbody>
    </table>
  </div>
  
  </div>
</div>

  

  

